<div class="mdl-layout is-upgraded mdl-layout--fixed-header">

  <header class="mdl-layout__header mdl-color--grey-700">

    <div class="mdl-layout__header-row">

      <h3>Nest Smart Home App</h3>

    </div>

    <div class="mdl-layout__tab-bar-container mdl-color--grey-900">

      <nav class="mdl-layout__tab-bar mdl-color--grey-900">

        <a class="mdl-layout__tab" [routerLink]="[dashboardUrl]">dashboard</a>
        <a class="mdl-layout__tab" [routerLink]="[aboutUrl]">about</a>
        <a class="mdl-layout__tab" *ngIf="!authorized" [href]="authUrl">sign in</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-layout__tab" *ngIf="authorized" [href]="logoutUrl">sign out</a>

      </nav>

    </div>

  </header>

  <main class="mdl-layout__content">

    <br>

    <router-outlet></router-outlet>

  </main>

</div>


